<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rakesh.calcoff">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity_Home_Page"
            android:theme="@style/AppTheme"

            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--<activity android:name=".Activity_Home_Page"-->
            <!--android:noHistory="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme"/>-->

        <activity android:name=".Activity_Leaderboard"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activity_Login"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activity_Play"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activity_Register"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Activity_Profile"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activity_Ranklist"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


    </application>

</manifest>